:root {
    --titulos: #dbff00;
}


*{
    font-family: "Oswald", sans-serif;
}

body{
    background-color: gray;
    margin: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}


.top-bar {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 120px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    position: absolute;
    top: 0px;
    z-index: 1;
}

.logo {
    background-color: rgb(32, 32, 32);
    margin: 15px;
}

.main-menu{
    margin: 0px 0px 0px 5 0px;
    width: 100%;
}

.nav {
    
    color:#fff;
    display: flex;
    gap: 30px;
    text-transform: uppercase;
}

.nav li {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

.nav a:hover {
    color: var(--titulos);
}

.hero{
    background-color: black;
    color: #fff;
    background-image: url(/Boxeo/img/slide_01.jpg);
    background-size: cover;
    background-position: top right;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.herocontent {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:  200px auto;
}

.herotitle {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 700;
    width: 60%;
    line-height: 1.1em;
}

.herotitle span, .box span {
    color: var(--titulos); 
}


.herotext {
    text-align: justify;
    width: 60%;
    font-family: "Poppins", sans-serif;
    font-stretch: condensed;
    line-height: 1.5em;
    font-size: 1em;
}

.cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    gap: 20px;
}

.cta a{
    
    color: #fff;
    box-sizing: content-box;
    height: 30px;
    width: 150px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

#boton1 {
    background-color: var(--titulos);
    color: black;
}

#boton1:hover {
    background-color: #fff;
    color: black;
}

#boton2 {
    border: solid white 2px;
    color: #fff;
}

#boton2:hover {
    border: solid white 2px;
    background-color: #fff;
    color: #000000;
}
/* ------------- MAIN ----------------------- */ 

.cajas{
    display: flex;
    background-color: #fff;
    padding: 5px 50px;
    flex-direction: row;
    justify-content: space-between;
}

.box{
    background-color: #fff;
    color: #fff;
    height: 370px;
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 20px 10px;
}

.box h3 {
    padding: 20px 0px 0px 20px;
    margin-left: 20px;
}

.box p{
    margin-left: 20px;
    padding: 0px 0px 20px 20px;
    font-family: "Poppins", sans-serif;
    font-stretch: condensed;
    line-height: 1.8em;
    font-size: 0.8em;
}

.box1{
    background-image: url(/Boxeo/img/slide_02.jpg);
    background-size: cover;
}

.box2{
    background-image: url(/Boxeo/img/slide_03.jpg);
    background-size: cover;
}

.box3{
    background-image: url(/Boxeo/img/slide_04.jpg);
    background-size: cover;
}


/*-------------- ABOUT --------------------*/

.about{
    background-color: #fff;
    display: flex;
}

.foto {
    margin: auto;
    width: 50%;
}

.about-content {
    width: 50%;
    background-color: #acb190;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 50px;
}

.about-title{
    font-size: 2.5em;
    font-weight: bold;
    font-stretch: condensed;
    text-transform: uppercase;
}

.tag-line{
    font-family: "Poppins", sans-serif;
    font-stretch: condensed;
    line-height: 1.5em;
    font-size: 1em;
}

.about p{
    font-family: "Poppins", sans-serif;
    font-stretch: condensed;
    line-height: 2em;
    font-size: 1em;
    width: 80%;
}

.signature{
    display: flex;
}